[Unit]
Description=My App Description
After=network.target

[Service]
WorkingDirectory=/tmp/linux-x64
ExecStart=/tmp/linux-x64/FusionDev.Samples.TodoApi
Restart=always
RestartSec=10
SyslogIdentifier=dotnet-mmyapp
Environment=ASPNETCORE_ENVIRONMENT=Development
Environment=ASPNETCORE_URLS=http://*:80

[Install]
WantedBy=multi-user.target
